html, body{
  overflow-x: hidden;
}
* {
     margin: 0;
     padding: 0;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     font: 16px/24px Arial;
   }
      .cls {
       clear:both; height:0; font-size:0; line-height:0; visibility:hidden;
      }

    p:not(.p1, .p2, .p3, .name, .slog) {
     text-align: center;
     /* font-size: 14; */
     font-family: sans-serif;
     font-weight: bolder;
     font-size: 20px;
   }
  p {
     text-align: center;
    }

   .wrap {
     max-width: 960px;
     margin: 0 auto;
     background: #fff;
     position: relative;
     z-index: 1;

   }

   .bgr {
     position: relative;
     display: block;
     height: 100%;
     width: 100%;
     /* margin-bottom: -480px; */
   }

   .bgr:after {
     content: ' ';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     opacity: 0;
     transition: opacity .2s ease-in-out;

   }

   .bgr:hover:after {
     /* opacity: .2; */
   }
  .shap {
    width: 960px;
    position: relative;
    top: 98px;
    z-index: 7;
  }
  .block {
    background-color: #effbf2;
    position: relative;
    height: 50px;
    z-index: 2;
    width: 960px;
    top: 0;

  }
  .name {
    height: 50px;
    width: 200px;
    right: 0;
    z-index: 3;
    position: relative;
    background-color: #a8c5b0;
    padding: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    top: -50px;
    float: right;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #effbf2;
  }
  .slog {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 80px;
    color: #a8c5b0;
    width: 100%;


  }


  .info1, .info2, .info3 {
    width: 250px;
    position: relative;

  }

  .info1 {
    top: 25px;
    left: 80px;
    height: 170px;
    width: 210px;
  }
  .info3 {
    top: 55px;
    left: 40px;
  }
  .info2 {
    top: 40px;
    left: 670px;
  }



  .one, .two, .tree {
    padding: 1px;
    height: 330px;
  }
  .one, .tree {
    background-color: #effbf2;
  }
  .two {
    background-color: #a8c5b0;
  }


  .t2 {
    text-align: center;
    top: -120px;
    left: -170px;
    color: #effbf2;
    position: relative;
  }
  .t1 {
    top: 140px;
    left: 150px;
    color: #a8c5b0;
    -o-transform: translateX(100px);
    position: relative;
  }
  .t3 {
    top: -120px;
    left: 130px;
    color: #a8c5b0;
    position: relative;
  }



  .i1, .i2, .i3 {
    position: relative;
    width: 50px;
    left: 400px;
    top: -10px;
  }


  .bot {
    background: #d2e5d7;
  }


  .p1 {
    position: relative;
    top: 50px;
    left: -330px;
    text-align: center;
    color: #effbf2;
  }
  .p2 {
    position: relative;
    top: -40px;
    left: 0px;
    text-align: center;
    color: #effbf2;
  }
  .p3 {
    position: relative;
    top: -120px;
    left: 340px;
    text-align: center;
    color: #effbf2;
  }



  .shap2 {
    background-color: #d2e5d7;
  }
  .left1 {
    background-color: #effbf2;
    width: 472px;
    height: 150px;
    position: relative;
    top: -1359px;
    transform: rotate(-4deg);
    left: 490px;
    z-index: 8;
  }
  .right1 {
    background-color: #effbf2;
    width: 520px;
    height: 150px;
    position: relative;
    top: -1208px;
    transform: rotate(4deg);
    z-index: 8;
  }




  .left {
    background-color: #d2e5d7;
    width: 472px;
    height: 50px;
    position: relative;
    top: -1309px;
    transform: rotate(-4deg);
    left: 490px;
  }
  .right {
    background-color: #d2e5d7;
    width: 500px;
    height: 50px;
    position: relative;
    top: -1260px;
    transform: rotate(4deg);
  }
  body {
    position: relative;
    top: -90px;
  }
  a:hover {
    color: green;
  }
  a {
    text-decoration: none;
    color: #a8c5b0;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
  .u {
    width: 960px;
    height: 990px;
    background-color: #effbf2;
    position: relative;
    top: 98px;
    z-index: 7;
  }
  .ut {
    position: relative;
    top: 200px;
    color: #a8c5b0;
    width: 70%;
    max-height: 2000px;
    text-align: center;
    left: 13%;
  }
  .utt {
    position: relative;
    top: 190px;
    font-size: 50px;
    color: #a8c5b0;

  }


@media(min-width: 0px) and (max-width: 320px){
  .info1{
    width:83px;
    height: 80px;
    top:20px;
  }
  .slog{
    font-size: 22px;
    width: 100%;
    left: 0px;
  }
  .name {
    width: 100%;
  }
  .shap {
    visibility: hidden;
    height: 130px;
  }
  .info1, .info2, .info3 {
    height: 90px;
    width: 93px;
    top: -200px;
    left: 35%;
  }
  .info2 {
    top: 10%;
  }
  .info3 {
    top: 10%;
  }
  .one, .two, .tree {
    height: 400px;
  }
  .left, .right{
    visibility: hidden;
  }
  .t1, .t2, .t3{
    font-size: 14px;
    font-weight:100;
    padding-left: 9px;
    padding-right: 9px;
    left: 0px;
    top: 10%;
  }
  .t1{
    top: 40%;
  }
  .p1, .p2, .p3{
    left: 0px;
  }
  .p2{
    top: 140px;
  }
  .p3{
    top: 190px;
  }
  .bot{
    height: 500px;
  }
  .i1, .i2, .i3 {
    width: 35px;
    left: 30%;
    top: 60%;
  }

  .u {
    height: 1350px;
  }
  .ut {
    width: 90vw;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: normal;
    left: 0px;
    /* padding-bottom: 60px; */
  }
  .utt {
    width: 50vw;
    left: 50px;
    top: 12%;
  }

}

@media(min-width: 321px) and (max-width: 480px){
  .u {
    height: 1350px;
  }
  .ut {
    width: 90vw;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: normal;
    left: 0px;
    /* padding-bottom: 60px; */
  }
  .utt {
    width: 25%;
    left: 50px;
    top: 12%;
  }

  .slog{
    font-size: 22px;
    width: 100%;
    left: 0px;

  }
  .name {
    width: 100%;
  }
  .shap {
    visibility: hidden;
    height: 130px;
  }
  .info1, .info2, .info3 {
    height: 90px;
    width: 93px;
    top: -120px;
    left: 35%;
  }
  .info2 {
    top: 10%;
  }
  .info3 {
    top: 10%;
  }
  .one, .two, .tree {
    height: 400px;
  }
  .left, .right{
    visibility: hidden;
  }
  .t1, .t2, .t3{
    font-size: 14px;
    font-weight:100;
    padding-left: 9px;
    padding-right: 9px;
    left: 0px;
    top: 10%;
  }
  .t1{
    top: 40%;
  }
  .p1, .p2, .p3{
    left: 0px;
  }
  .p2{
    top: 140px;
  }
  .p3{
    top: 190px;
  }
  .bot{
    height: 500px;
  }
  .i1, .i2, .i3 {
    width: 35px;
    left: 35%;
    top: 60%;
  }
    .info1{
    width:83px;
    height: 80px;
    top:20px;
  }

}
@media(min-width: 481px) and (max-width: 768px){
  .u {
    height: 1350px;
  }
  .ut {
    width: 90vw;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: normal;
    left: 0px;
    /* padding-bottom: 60px; */
  }
  .utt {
    width: 50vw;
    left: 15%;
    top: 12%;
  }
  .slog{
    font-size: 22px;
    width: 100%;
    left: 0px;

  }
  .name {
    width: 100%;
  }
  .shap {
    visibility: hidden;
    height: 130px;
  }
  .info1, .info2, .info3 {
    height: 90px;
    width: 93px;
    top: -15%;
    left: 40%;
  }
  .info2 {
    top: 10%;
  }
  .info3 {
    top: 10%;
  }
  .one, .two, .tree {
    height: 400px;
  }
  .left, .right{
    visibility: hidden;
  }
  .t1, .t2, .t3{
    font-size: 14px;
    font-weight:100;
    padding-left: 9px;
    padding-right: 9px;
    left: 0px;
    top: 10%;
  }
  .t1{
    top: 40%;
  }
  .p1, .p2, .p3{
    left: 0px;
  }
  .p2{
    top: 140px;
  }
  .p3{
    top: 190px;
  }
  .bot{
    height: 500px;
  }
  .i1, .i2, .i3 {
    width: 35px;
    left: 43%;
    top: 60%;
  }

}

@media(min-width: 769px) and (max-width: 992px){
    .info1{
    width:83px;
    height: 80px;
    top:20px;
  }

  .info1, .info2, .info3 {
    /* height: 290px;
  width: 293px; */}
  .info1{
  height: 150px;
  width: 153px;
  }
  .info2{
  height: 220px;
  width: 223px;
  }
  .info3{
  height: 170px;
  width: 173px;
  top: 20%;
  }
  .t3{
    top: -20%;
  }
  .ut {


  }


}


